@use "mixins" as *;

.about-author__content {
    @include section-layout;
    flex-direction: row;

    &__image {
        order: 0;
    }

    &__text {
        order: 1;
    }
    @include responsive-section;
}